
@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}
<h2>Notification</h2>
@{
    var gridview = new WebGrid(ViewBag.orderlist, ajaxUpdateContainerId: "ajaxgrid", rowsPerPage: 7);
}
@gridview.GetHtml(
       tableStyle: "webgrid-table",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
        mode: WebGridPagerModes.All,
    columns: new[]
    { gridview.Column(columnName:"Orderid", header: "Order Id",format: @<text>
        <span id="OrderId" class="read">@item.OrderId</span></text>),


        gridview.Column(columnName:"ServiceName", header: "Service Name"),
          gridview.Column(columnName:"ProductName", header: "Product Name")

        }
        )
<style type="text/css">
    .webgrid-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px #000000;
        background-color: white;
    }

        .webgrid-table td, th {
            border: 1px solid #000000;
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color: #000000;
        color: #ffffff !important;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }
</style>
