
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        Error
    </div>
</body>
</html>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery-1.10.2.js"></script>
<script>
    window.setTimeout(function () {
        window.location = '@Url.Action("User","Logout")';
    }, 2000);

</script>