@model  IEnumerable<Online_SHopping_Cart.Models.ProductCategory_Table>
@{
    ViewBag.Title = "Product_cat";
    Layout = "~/Views/Shared/_BuyerLayout.cshtml";
   
}

<style>
    .sl{
        height:300px;
        width:400px;
    }

</style>
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="row" style="margin-left:30%; margin-top:5%;margin-right:30%;" >
    @foreach (var item in Model)
    {
        <button id=@(item.ProductCatId) class="btn waves-effect waves-light" onclick="cato(this)">@(item.ProductCatName)</button>
    }
</div>
<div>

    <div class="carousel" >
        <a class="carousel-item" ><img src="~/Images/sl1.jpg" class="sl"></a>
        <a class="carousel-item"><img src="~/Images/sl2.jpg" class="sl"></a>
        <a class="carousel-item"><img src="~/Images/sl3.jpg" class="sl"></a>
        <a class="carousel-item"><img src="~/Images/sl4.jpg" class="sl"></a>
        <a class="carousel-item"><img src="~/Images/sl5.jpg" class="sl"></a>
    </div>

</div>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/materialize.js"></script>

<script>
    function cato(element) {
        var btn = element.id;
        $.ajax({
            type: "POST",
            url: "find_pro_cat_id",
            data: '{id: "' + btn + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                window.location.href = data.Url;
            },
            failure: function (response) {
                alert("Not found");
            },
            error: function (response) {
                alert("error");
            }
        });

    }

        $(document).ready(function () {
        $('.carousel').carousel();
    });
</script>