
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="~/Content/materialize-social.css" rel="stylesheet" />
   
    
    <title>try1</title>
</head>
<body>
    <a id="menu" class="waves-effect waves-light btn btn-floating "><i class="material-icons">menu</i></a>

    <!-- Tap Target Structure -->
    <div class="tap-target" data-activates="menu">
        <div class="tap-target-content">
            <a class="waves-effect waves-light social-icon btn windows ">
                <i class="fa fa-windows "></i>
            </a>
        </div>
    </div> 
   
    
</body>

</html>
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/materialize.js"></script>
<script>
    $(document).ready(function () {
        $("#menu").click(function () {
            $('.tap-target').tapTarget('open');
          
        })
  
    });
</script>